<div class="container-fluid">
    <div class="grid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">

                {% set kk_active = '' %}

                {% set kk = 'index' %}
                {% set kk_name = 'Общий обзор' %}

                <a href="?level={{ get.level }}&option={{ kk }}" class="btn btn-xs 
                   {% if get.option is defined and get.option == kk %} btn-success {% set kk_active = kk %} {% else %} btn-light {% endif %} " >{{ kk_name }}</a>

                {% if 1 == 2 %}
                    
                    {% set kk = 'oborots_raschet' %}
                    {% set kk_name = 'подробный расчёт оборотов ТП' %}

                    <a href="?level={{ get.level }}&option={{ kk }}" class="btn btn-xs 
                       {% if get.option is defined and get.option == kk %} btn-success {% set kk_active = kk %} {% else %} btn-light {% endif %} " >{{ kk_name }}</a>

                    {% set kk = 'job_tp' %}
                    {% set kk_name = 'работа ТП' %}

                    <a href="?level={{ get.level }}&option={{ kk }}" class="btn btn-xs 
                       {% if get.option is defined and get.option == kk %} btn-success {% set kk_active = kk %} {% else %} btn-light {% endif %} " >{{ kk_name }}</a>
                       
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 xtext-center">

                {% if kk_active != '' %}

                    {#% set dir_di_mod = constant('dir_site_module_nowlev_tpldidr') %}
                    {% include dir_di_mod~'body.'~kk_active~'.htm' %#}
                    {% include dir_mod_now_mod_ditpl~'body.'~kk_active~'.htm' %}

                {% else %}

                    <p>выберите пункт</p>

                {% endif %}

            </div>

        </div>
    </div>
</div>

